

:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}


.landing-homepage {
  position: relative;
  text-align: center;
  padding-top: 350px;
  padding-bottom: 350px;
  background: url("./images/computer-820281_1280.jpg");
  background-size: cover;
}

.homepage-words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.page-header {
  text-align: center;
  margin-top: 2em;
  padding-bottom: 2%
}

.connect-table {
  padding-left: 12%;
  padding-right: 12%
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 1rem;
}

.add-connection-button-container {
  /* display: flex;
  justify-content: flex-end; */
  padding-left: 12%;
  padding-right: 12%;
  justify-content: right;
}

.add-connection-container {
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.add-connection-form {
  width: 620px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;

}

.employee-card {
  border: 1px solid black;
  padding: 5px;
}
#table-header {
  text-align: center;
  background-color: skyblue;
}


